In [1]:
from sqlalchemy import Table, Column, Integer, Numeric, String, CheckConstraint, desc
from sqlalchemy import DateTime, ForeignKey, Boolean, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
from sqlalchemy.orm import sessionmaker 
from sqlalchemy import create_engine
from datetime import date, datetime
import pandas as pd

In [2]:
engine = create_engine('sqlite:///:memory:')
# engine = create_engine('sqlite:///OnlineLearningPlatform2.db')

# Create a session
Session = sessionmaker(bind = engine)
session = Session()

# Create the Base
Base = declarative_base()

In [3]:
                #####################################
                ##        The Table Classes        ##
                #####################################

In [4]:
# Student Class

class Student(Base):
    
    __tablename__ = 'student'
    
    __table_args__ = ({'extend_existing' : True})
    
    student_id = Column(Integer(), nullable=False, primary_key=True)
    first_name = Column(String(50), nullable=False, index=True)
    last_name = Column(String(50), nullable=False, index=True)
    email = Column(String(255), nullable=False,)
    street_address = Column(String(255))
    city = Column(String(45))
    zipcode = Column(Integer())
    state_or_province = Column(String(45))
    country = Column(String(45))
    phone_number = Column(String(45))
    username = Column(String(45), nullable=False)
    password = Column(String(45), nullable=False)
    date_registered = Column(DateTime, default=datetime.now)
    
    
    def __init__(self, student_id, first_name, last_name, email, street_address, city, zipcode, 
                 state_or_province, country, phone_number, username, password, date_registered):
        
        self.student_id = student_id
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        self.street_address = street_address
        self.city = city
        self.zipcode = zipcode
        self.state_or_province = state_or_province
        self.country = country
        self.phone_number = phone_number
        self.username = username
        self.password = password
        self.date_registered = date_registered
        
        
    def printObj(self):
        
        print("Student ID " , self.student_id)
        print("First name is " , self.first_name)
        print("Last name is " , self.last_name)
        print("Username is " , self.username)
        print("Email address is " , self.email)
        print("Phone is " , self.phone_number)
        print("The Date Registered was ", self.date_registered)
        
    def conv_to_tup(self):
        
        return (self.student_id, self.first_name, self.last_name, self.email, self.street_address, self.city,
                self.zipcode, self.state_or_province, self.country, self.phone_number, self.username, self.password,
                self.date_registered)

In [5]:
# Instructor Class

class Instructor(Base):
    
    __tablename__ = 'instructor'
    
    __table_args__ = ({'extend_existing' : True})
    
    instructor_id = Column(Integer(), nullable=False, primary_key=True)
    first_name = Column(String(45), nullable=False, index=True)
    last_name = Column(String(45), nullable=False, index=True)
    email = Column(String(50))
    paypal_username = Column(String(50))
    
    
    def __init__(self, instructor_id, first_name, last_name, email, paypal_username):
        
        self.instructor_id = instructor_id
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        self.paypal_username = paypal_username

    
    def printObj(self):
        
        print("First name is " , self.first_name)
        print("Last name is " , self.last_name)
        print("Email address is " , self.email)
        print('Paypal Username is ', self.paypal_username)
        
        
    def conv_to_tup(self):
        
        return (self.instructor_id, self.first_name, self.last_name, self.email, self.paypal_username)

In [6]:
## Payment_Type Class

class Payment_Type(Base):
    
    __tablename__ = 'payment_type'
    
    __table_args__ = ({'extend_existing' : True})

    payment_type_id = Column(String(10), primary_key=True)
    name = Column(String())
    
    
    def __init__(self, payment_type_id, name):
        
        self.payment_type_id = payment_type_id
        self.name = name
        
        
    def printObj(self):
      
        print("Payment Type id ", self.payment_type_id)
        print("name of payment type ", self.name)
        

    def conv_to_tup(self):
        
        return (self.payment_type_id, self.name)

In [7]:
# Course Class

class Course(Base):
    
    __tablename__ = 'course'
    
    __table_args__ = ({'extend_existing' : True})
    
    course_id = Column(String(10), nullable=False, primary_key=True)
    title = Column(String(255), nullable=False, index=True)
    date_released = Column(DateTime, default=datetime.now)
    last_updated = Column(DateTime, default=datetime.now, onupdate=datetime.now)
    description = Column(String(600), nullable=False)
    instructor_id = Column(Integer(), ForeignKey('instructor.instructor_id'))
    
    instructor = relationship('Instructor', backref=backref('course'))
    
    def __init__(self, course_id, title, date_released, last_updated, description, instructor_id):
        
        self.course_id = course_id
        self.title = title
        self.date_released = date_released
        self.last_updated = last_updated
        self.description = description
        self.instructor_id = instructor_id
    
    
    def printObj(self):
        
        print("Title is " , self.title)
        print(self.description)
     
    
    def conv_to_tup(self):
        
        return (self.course_id, self.title, self.date_released, self.last_updated, self.description, 
                self.instructor_id)

In [8]:
# Enrollment Class

class Enrollment(Base):
    
    __tablename__ = 'enrollment'
    
    __table_args__ = ({'extend_existing' : True})

    enrollment_id = Column(String(10), primary_key=True)
    enrollment_date = Column(DateTime, nullable=False, default=datetime.now)
    price = Column(String(10), nullable=False,)
    student_id = Column(Integer(), ForeignKey('student.student_id'))
    course_id = Column(String(10), ForeignKey('course.course_id'))
    payment_type_id = Column(String(10), ForeignKey('payment_type.payment_type_id'))
    
    student = relationship('Student', backref=backref('enrollment'))
    course = relationship('Course', backref=backref('enrollment'))
    payment_type = relationship('Payment_Type', backref=backref('enrollment'))
    
    def __init__(self, enrollment_id, enrollment_date, price, student_id, course_id, payment_type_id):
        
        self.enrollment_id = enrollment_id
        self.enrollment_date = enrollment_date
        self.price = price
        self.student_id = student_id
        self.course_id = course_id
        self.payment_type_id = payment_type_id
    
    
    def printObj(self):
        
        print("Enrollment ID is " , self.enrollment_id)
        print("Enrollment Date is " , self.enrollment_date)
        print("Price for enrollment is " , self.price)
        
        
    def conv_to_tup(self):
        
        return (self.enrollment_id, self.enrollment_date, self.price, self.student_id, self.course_id, 
                self.payment_type_id)

In [9]:
## Review Class

class Review(Base):
    
    __tablename__ = 'review'
    
    __table_args__ = ({'extend_existing' : True})

    review_id = Column(String(), primary_key=True)
    review_text = Column(String(600))
    star_rating = Column(Integer()) 
    student_id = Column(Integer(), ForeignKey('student.student_id'))
    course_id = Column(String(10), ForeignKey('course.course_id'))
               
    student = relationship('Student', backref=backref('review'))
    course = relationship('Course', backref=backref('review'))
   
    
    def __init__(self, review_id, review_text, star_rating, student_id, course_id):
        
        self.review_id = review_id
        self.review_text = review_text
        self.star_rating = star_rating
        self.student_id = student_id
        self.course_id = course_id
        
    
    def printObj(self):
      
        print("Rating is ", self.star_rating)
        print(self.review_text)
        
        
    def conv_to_tup(self):
        
        return (self.review_id, self.review_text, self.star_rating, self.student_id, self.course_id)

In [10]:
# Resources Class

class Resource(Base):
    
    __tablename__ = 'resource'
    
    __table_args__ = ({'extend_existing' : True})

    resource_id = Column(String(7), primary_key=True)
    name = Column(String(50))
    link = Column(String(50))

    
    def __init__(self, resource_id, name, link):
        
        self.resource_id = resource_id
        self.link = link
        self.name = name
        
    
    def printObj(self):
      
        print("Resource ID is " , self.resource_id)
        print(self.name)
        print("Link to resource is " , self.link)
        
        
    def conv_to_tup(self):
        
        return (self.resource_id, self.link, self.name)

In [11]:
# Course_Resources Class

class Course_Resources(Base):
    
    __tablename__ = 'course_resources'
    
    __table_args__ = ({'extend_existing' : True})

    resource_id = Column(Integer(), ForeignKey('resource.resource_id'), primary_key=True)
    course_id = Column(Integer(), ForeignKey('course.course_id'), primary_key=True)
    
    resource = relationship('Resource', backref=backref('resource'))
    course = relationship('Course', backref=backref('course'))
    
    
    def __init__(self, course_id, resource_id):
        
        self.course_id = course_id
        self.resource_id = resource_id
      
    
    def printObj(self):
      
        print("resource id ", self.resource_id)
        print("course id ", self.course_id)
        

    def conv_to_tup(self):
        
        return (self.course_id, self.resource_id)

In [12]:
# Tag Class

class Tag(Base):
    
    __tablename__ = 'tag'
    
    __table_args__ = ({'extend_existing' : True})

    tag_id = Column(String(10), primary_key=True)
    tag_name = Column(String(50))
    
    def __init__(self, tag_id, tag_name):
        
        self.tag_id = tag_id
        self.tag_name = tag_name
        
    
    def printObj(self):
      
        print("tag id ", self.tag_id)
        print("name of tag ", self.tag_name)
        
    
    def conv_to_tup(self):
        
        return (self.tag_id, self.tag_name)

In [13]:
# Course_Tags Class

class Course_Tags(Base):
    
    __tablename__ = 'course_tags'
    
    __table_args__ = ({'extend_existing' : True})

    tag_id = Column(String(10), ForeignKey('tag.tag_id'), primary_key=True)
    course_id = Column(String(10), ForeignKey('course.course_id'), primary_key=True)
    
    tag = relationship('Tag', backref=backref('course_tags'))
    course = relationship('Course', backref=backref('course_tags'))

    
    def __init__(self, tag_id, course_id):
        
        self.tag_id = tag_id
        self.course_id = course_id
        
        
    def printObj(self):
      
        print("tag_id ", self.tag_id)
        print("course id ", self.course_id)
        
        
    def conv_to_tup(self):
        
        return (self.tag_id, self.course_id)

In [14]:
# Payment Through Payment Details Class

class Paying_Through(Base):
    
    __tablename__ = 'paying_through'
    
    __table_args__ = ({'extend_existing' : True})

    pay_id = Column(Integer(), primary_key=True)
    student_id = Column(Integer(), ForeignKey('student.student_id'))
    payment_type_id = Column(String(10), ForeignKey('payment_type.payment_type_id'))
    paypal_username = Column(String(45))
    card_number = Column(Integer())
    cvv = Column(Integer())
    expiry_date = Column(DateTime)
    name_on_card = Column(String(45), index=True)
    
    student = relationship('Student', backref=backref('student'))
    payment_type = relationship('Payment_Type', backref=backref('payment_type'))
    
    
    def __init__(self, pay_id, student_id, payment_type_id, paypal_username, card_number, cvv, 
                 expiry_date, name_on_card):
    
        self.pay_id = pay_id
        self.student_id = student_id
        self.payment_type_id = payment_type_id
        self.paypal_username = paypal_username
        self.card_number = card_number
        self.cvv = cvv
        self.expiry_date = expiry_date
        self.name_on_card = name_on_card
      

    def printObj(self):
      
        print("pay_id ", self.pay_id)
        print("student id ", self.student_id)
        print("payment type id ", self.payment_type_id)
        
        
    def conv_to_tup(self):
        
        return (self.pay_id, self.student_id, self.payment_type_id, self.paypal_username, self.card_number, self.cvv,
               self.expiry_date, self.name_on_card)

In [15]:
Base.metadata.create_all(engine)

In [16]:
                            ######################################
                            ###        The Tables' Data        ###
                            ######################################

In [17]:
st_1 = Student(0o001, "Doyle", "Sullivan", "dsuli@mac.com", "876 Pearl Dr", "Old Bridge", 94566, "New Jersey", "USA", 
               '257-555-0179', "basketba283", "_u?V37X^v#", datetime(2018, 9, 14))
st_2 = Student(0o002, "Moses", "Richards", "mricha@gmail.com", "7660 Maple St", "Sheboygan", 0o7202, "Osaka", 
               "Japan", "202-093-0112", "bladerun71", "/xcM7*msw", datetime(2018, 10, 1))
st_3 = Student(0o003, "Johnny", "Cox", "jocox@msn.com", "158 Primrose Dr", "Banning", 22003, "Lagos", "Nigeria", 
               "211-345-0164", "kidneyho72", "$rZt25.t:n", datetime(2019, 3, 1))
st_4 = Student(0o004, "Forrest", "Miles", "zilla@att.net", "8029 East South Street", "Lengton", 46321, "Missisipi", 
               "USA", "930-826-0102", "pianobass13", "Xk6ZTv#X:D", datetime(2020, 5, 21))
st_5 = Student(0o005, "Kyle", "Torres", "ktorress@icloud.com", "146 Somerset St", "Port Orange", 29841, "Sao Paolo", 
               "Brazil", "567-555-0122", "toystoryweb9", "{pf'r*6H&w", datetime(2020, 12, 25))
st_6 = Student(0o006, "Dana", "Morrison", "mdana@comcast.net", "8100 Randall Mill Circle", "Charlottesville", 15102, 
               "London", "UK", "025-982-0161", "beerflora32", "5FfpDw[7K7", datetime(2021, 2, 23))

In [18]:
inst_1 = Instructor(0o001, "Melvin", "Ortiz", "mortiz@evt.edu", "sunanchamir91")
inst_2 = Instructor(0o002, "Sergio", "Carroll", "scarr@opt.com", "hypernova64")
inst_3 = Instructor(0o003, "Kathleen", "Garner", "katner.p@cpt.com", "hypernova64")
inst_4 = Instructor(0o004, "Gilberto", "Patterson", "gil.patt@ret.edu", "harpsoprano00")
inst_5 = Instructor(0o005, "Sophie", "Clarke", "sophclarke@tre.et", "harprhythm76")
inst_6 = Instructor(0o006, "Marcus", "Moran", "marmor45@gmail.com", "clefflat6653")
inst_7 = Instructor(0o007, "Colleen", "Gordon", "coll.gord@comp.edu", "neose7en")

In [19]:
course_1 = Course("c1", "Values Of Minority Queer Theory: Ideas In Conflict", datetime(2020, 2, 20),
                  datetime(2020, 2, 20), "Sed cras ornare arcu dui vivamus arcu felis bibendum. Massa sed elementum \
                  tempus egestas. Maecenas ultricies mi eget mauris pharetra et. Eleifend mi in nulla posuere \
                  sollicitudin aliquam ultrices sagittis.", 0o004)

course_2 = Course("c2", "Latino Ideas: The Big Picture", datetime(2019, 10, 1), datetime(2020, 12, 31), 
                  "Vitae sapien pellentesque habitant morbi tristique. Mauris commodo quis imperdiet massa tincidunt \
                  nunc pulvinar sapien et. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt \
                  eget. Pellentesque diam volutpat commodo sed.", 0o007)

course_3 = Course("c3", "Philosophy Of Westward Expansion: An Interdisciplinary Approach", datetime(2019, 6, 4),
                  datetime(2019, 6, 4), "Augue mauris augue neque gravida in fermentum. Turpis egestas integer \
                  eget aliquet. Id leo in vitae turpis massa sed elementum tempus. Eget nulla facilisi etiam \
                  dignissim diam quis enim lobortis.", 0o001)

course_4 = Course("c4", "Masterpieces Of Western Italian Drama", datetime(2020, 3, 9), datetime(2020, 12, 10), 
                  "Interdum posuere lorem ipsum dolor sit amet. Malesuada bibendum arcu vitae elementum. Id volutpat\
                  lacus laoreet non curabitur gravida arcu ac tortor. Sapien eget mi proin sed libero enim sed \
                  faucibus.", 0o006)

course_5 = Course("c5", "Postmodern Civilization: Different Points Of View", datetime(2020, 4, 30), 
                  datetime(2020, 4, 30), "Risus vier adipiscing at in tellus. Quis vel eros donec ac. Iaculis nunc \
                  sed augue lacus viverra vitae gue. Laoreet non curabitur gravida arcu ac tortor dignissim. Mattis \
                  vulputate enim nulla aliquet porttitor lacus. Dui id ornare arcu odio." , 0o007)

course_6 = Course('c6', "Mexican Literature As A Liberal Genre", datetime(2021, 1, 21), datetime(2021, 1, 21),
                  "Volutpat diam ut venenatis tellus in metus vulputate. Enim praesent elementum facilisis leo. Duis \
                  at tellus at urna condimentum. Elit pellentesque habitant morbi tristique." , 0o007)

course_7 = Course("c7", "Masterpieces Of Populist Asian Folklore", datetime(2021, 3, 7), datetime(2021, 3, 7), 
                  "Consequat id porta nibh venenatis cras sed felis eget velit. Non arcu risus quis varius. A diam \
                  sollicitudin tempor id. Nam aliquam sem et tortor consequat. Eu augue ut lectus arcu bibendum at \
                  varius.", 0o004)

course_8 = Course("c8", "Horror & Infidelity In The 21st Century", datetime(2018, 8, 30), datetime(2019, 1, 28), 
                  "Donec massa sapien faucibus et molestie ac feugiat sed. Massa sed elementum tempus egestas. Sem \
                  nulla pharetra diam sit amet nisl. Est placrat in egestas erat imperdiet. Aliquet eget sit amet \
                  telus cras adiscing enim eu." , 0o001)

course_9 = Course("c9", "German Marxism Traditions In The Liberal World", datetime(2019, 2, 6), datetime(2021, 7, 7), 
                  "In arcu curus euismod quis viverra nibh cras pulvinar mattis. Ultrices gravida dictum fusce ut \
                  placerat orci nulla pellentesque. In egestas erat imperdiet sed euismod nisi porta lorem mollis." , 
                  0o006)

course_10 = Course("c10", "Birdwatching In Recent Times: Myth & Reality", datetime(2018, 10, 13), 
                   datetime(2020, 10, 14), "Enim eu tupis egestas pretium aenean pharetra magna ac. Libero id facibus\
                   nisl tincidunt eget nullam non. Enim nunc faucibus a pellentesque.", 0o003)

course_11 = Course("c11", "Masterpieces Of Middle Class American Mythology", datetime(2021, 1, 6), 
                   datetime(2021, 1, 6), "Consetetur lorem donec massa sapien faucibus et molestie ac feugiat. Id \
                   volutpat lacus laoret non curabitur gravida arcu ac. Tellus cras adipiscing enim eu turpis egestas\
                   pretium aenean pharetra.", 0o004)

course_12 = Course("c12", "Middle Class Middle Eastern Endeavors Since 1841", datetime(2020, 2, 27), 
                   datetime(2021, 4, 7), "Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Elit \
                   ullamcorper dignissim cras tincidunt lobortis feugiat. Sodales neque sodales ut etiam sit. Mauris \
                   nunc congue nisi vitae suscipit tellus mauris.", 0o005)

course_13 = Course("c13", "Sex, Community, And Family In The United States: Different Points Of View", 
                   datetime(2020, 2, 21), datetime(2020, 2, 21), "Nulla aliquet enim tortor at auctor urna nunc id. \
                   Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Ultricies tristique nulla\
                   aliquet enim tortor at auctor. In fermentum et sollicitudin ac.", 0o006)

course_14 = Course("c14", "Here Come The Mass Extinctions: Topics In Modern Environmentalism", datetime(2019, 10, 2), 
                   datetime(2019, 10, 2), "Vestibulum sed arcu non odio euismod lacinia at. Quis risus sed vulputate \
                   odio ut enim blandit volutpat. Bibendum ut tristique et egestas quis ipsum.", 0o005)

course_15 = Course("c15", "Ad-Hoc Investigation Of The Liberated Female Revolution In The Modern Age", 
                   datetime(2019, 6, 5), datetime(2021, 1, 6), "Dui accumsan sit amet nulla facilisi. Tellus integer \
                   feugiat scelerisque varius morbi enim. Accumsan tortor posuere ac ut consequat. Mattis vulputate \
                   enim nulla aliquet porttitor lacus luctus.", 0o002)

In [20]:
enrol_1 = Enrollment("e1", datetime(2018, 9, 14), '9.99', 0o001, "c8", "pt01")
enrol_2 = Enrollment("e2", datetime(2018, 10, 13), '14.99', 0o002, "c10", "pt03")
enrol_3 = Enrollment("e3", datetime(2018, 11, 15), '9.99', 0o001, "c10", "pt02")
enrol_4 = Enrollment("e4", datetime(2018, 12, 25), '14.99', 0o002, "c8", "pt03")
enrol_5 = Enrollment("e5", datetime(2019, 3, 10), '12.99', 0o003, "c9", "pt01")
enrol_6 = Enrollment("e6", datetime(2019, 5, 6), '12.99', 0o002, "c9", "pt02")
enrol_7 = Enrollment("e7", datetime(2019, 6, 4), '10.99', 0o003, "c3", "pt03")
enrol_8 = Enrollment("e8", datetime(2019, 9, 5), '19.99', 0o002, "c15", "pt01")
enrol_9 = Enrollment("e9", datetime(2019, 10, 2), '26.99', 0o002, "c1", "pt02")
enrol_10 = Enrollment("e10", datetime(2019, 12, 30), '14.99', 0o003, "c14", "pt01")
enrol_11 = Enrollment("e11", datetime(2020, 2, 21), '11.99', 0o002, "c13", "pt01")
enrol_12 = Enrollment("e12", datetime(2020, 2, 26), '19.99', 0o003, "c1", "pt03")
enrol_13 = Enrollment("e13", datetime(2020, 3, 9), '19.99', 0o002, "c8", "pt02")
enrol_14 = Enrollment("e14", datetime(2020, 4, 30), '32.99', 0o003, "c11", "pt01")
enrol_15 = Enrollment("e15", datetime(2020, 10, 10), '49.99', 0o004, "c12", "pt03")
enrol_16 = Enrollment("e16", datetime(2020, 11, 17), '26.99', 0o004, "c1", "pt03")
enrol_17 = Enrollment("e17", datetime(2021, 1, 6), '22.99', 0o005, "c7", "pt02")
enrol_18 = Enrollment("e18", datetime(2021, 1, 21), '13.99', 0o002, "c4", "pt01")
enrol_19 = Enrollment("e19", datetime(2021, 3, 7), '9.99', 0o006, "c2", "pt01")
enrol_20 = Enrollment("e20", datetime(2021, 4, 12), '19.99', 0o006, "c1", "pt01")

In [21]:
rev_1 = Review("r1", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut \
               labore et dolore magna aliqua. Aliquet enim tortor at auctor urna nunc id. Eget duis at tellus at urna\
               condimentum mattis pellentesque.", 4, 0o001, "c8")
rev_2 = Review("r2", "Ac placerat vestibulum lectus mauris ultrices eros in cursus. Cursus metus aliquam eleifend mi \
                in nulla posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.", 3, 
               0o002, "c10")
rev_3 = Review("r3", "Vitae turpis massa sed elementum tempus egestas sed sed. Semper quis lectus nulla at volutpat. \
                Dui nunc mattis enim ut.", 2, 0o003, "c9")
rev_4 = Review("r4", "Enim sit amet venenatis urna cursus eget. Bibendum enim facilisis gravida neque convallis a \
                cras semper auctor.", 5, 0o002, "c9")
rev_5 = Review("r5", "Tempor id eu nisl nunc. Ut ornare lectus sit amet est placerat. Cursus vitae congue mauris \
                rhoncus.", 5, 0o003, "c3")
rev_6 = Review("r6", "Rutrum tellus pellentesque eu tincidunt tortor. Facilisi etiam dignissim diam quis enim \
                lobortis scelerisque.", 5, 0o002, "c15")
rev_7 = Review("r7", "Sed felis eget velit aliquet sagittis id. Laoreet sit amet cursus sit amet dictum sit amet \
                justo. Elementum eu facilisis sed odio morbi quis commodo odio.", 4, 0o002, "c1")
rev_8 = Review("r8", "Dictum fusce ut placerat orci nulla pellentesque dignissim enim. Dignissim diam quis enim \
                lobortis scelerisque fermentum dui faucibus.", 2, 0o003, "c14")
rev_9 = Review('r9', "Adipiscing commodo elit at imperdiet dui accumsan sit amet. Nulla posuere sollicitudin \
                aliquam ultrices sagittis orci a. Congue nisi vitae suscipit tellus mauris a.", 4, 0o002, "c13")
rev_10 = Review("r10", "Tellus mauris a diam maecenas sed. Sit amet luctus venenatis lectus magna fringilla urna.\
                Sed vulputate odio ut enim. Eros donec ac odio tempor.", 5, 0o003, "c1")
rev_11 = Review('r11', "Aliquam ut porttitor leo a. Viverra accumsan in nisl nisi scelerisque eu. Lobortis \
                elementum nibh tellus molestie nunc non blandit massa enim.", 3, 0o002, "c8")
rev_12 = Review("r12", "Gravida arcu ac tortor dignissim convallis aenean. In iaculis nunc sed augue lacus. \
                Sagittis orci a scelerisque purus semper eget duis.", 4, 0o004, "c1")
rev_13 = Review("r13", "Leo integer malesuada nunc vel. Tincidunt nunc pulvinar sapien et. Massa tempor nec \
                feugiat nisl pretium fusce id.", 5, 0o005, "c7")
rev_14 = Review("r14", "Turpis cursus in hac habitasse platea. In iaculis nunc sed augue lacus viverra vitae.\
                Arcu bibendum at varius vel pharetra vel turpis nunc.", 3, 0o002, "c4")
rev_15 = Review("r15", "Id aliquet risus feugiat in. Neque viverra justo nec ultrices dui sapien eget mi.\
                Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit.", 5, 0o006, "c2")

In [22]:
res_1 = Resource("res001", "wikipedia", "www.wikepedia.com")
res_2 = Resource("res002", "google", "www.google.com")
res_3 = Resource("res003", "khan academy", "www.khanacademy.com")
res_4 = Resource("res004", "tenn state", "www.tennstate.com")
res_5 = Resource("res005", "library", "www.gduhfifb.com")
res_6 = Resource("res006", "linda", "www.lindaooo.com")
res_7 = Resource("res007", "pandas", "www.pdaffair.com")

In [23]:
course_res_01 = Course_Resources("c9", "res001")
course_res_02 = Course_Resources("c14", "res004")
course_res_03 = Course_Resources("c3", "res003")
course_res_04 = Course_Resources("c5", "res003")
course_res_05 = Course_Resources("c13", "res002")
course_res_06 = Course_Resources("c4", "res006")
course_res_07 = Course_Resources("c7", "res004")
course_res_08 = Course_Resources("c12", "res001")
course_res_09 = Course_Resources("c10", "res005")
course_res_10 = Course_Resources("c6", "res005")
course_res_11 = Course_Resources("c13", "res007")
course_res_12 = Course_Resources("c8", "res001")
course_res_13 = Course_Resources("c1", "res003")
course_res_14 = Course_Resources("c11", "res005")
course_res_15 = Course_Resources("c15", "res002")
course_res_16 = Course_Resources("c1", "res005")
course_res_17 = Course_Resources("c4", "res002")
course_res_18 = Course_Resources("c3", "res004")
course_res_19 = Course_Resources("c14", "res005")
course_res_20 = Course_Resources("c5", "res004")
course_res_21 = Course_Resources("c9", "res003")
course_res_22 = Course_Resources("c7", "res002")
course_res_23 = Course_Resources("c8", "res004")
course_res_24 = Course_Resources("c12", "res007")
course_res_25 = Course_Resources("c15", "res003")
course_res_26 = Course_Resources("c11", "res006")
course_res_27 = Course_Resources("c10", "res007")
course_res_28 = Course_Resources("c2", "res001")
course_res_29 = Course_Resources("c6", "res007")
course_res_30 = Course_Resources("c2", "res004")

In [24]:
tag_1 = Tag("t01", "frontend")
tag_2 = Tag("t02", "backend")
tag_3 = Tag("t03", "devops")
tag_4 = Tag("t04", "fullstack")
tag_5 = Tag("t05", "datascience")
tag_6 = Tag("t06", "contemporary")
tag_7 = Tag("t07", "religion")
tag_8 = Tag("t08", "human")

In [25]:
c_tag_01 = Course_Tags("t03", "c1")
c_tag_02 = Course_Tags("t08", "c7")
c_tag_03 = Course_Tags("t02", "c3")
c_tag_04 = Course_Tags("t01", "c6")
c_tag_05 = Course_Tags("t05", "c5")
c_tag_06 = Course_Tags("t01", "c13")
c_tag_07 = Course_Tags("t07", "c9")
c_tag_08 = Course_Tags("t03", "c8")
c_tag_09 = Course_Tags("t08", "c14")
c_tag_10 = Course_Tags("t06", "c4")
c_tag_11 = Course_Tags("t04", "c2")
c_tag_12 = Course_Tags("t06", "c12")
c_tag_13 = Course_Tags("t02", "c15")
c_tag_14 = Course_Tags("t02", "c11")
c_tag_15 = Course_Tags("t05", "c7")
c_tag_16 = Course_Tags("t04", "c10")
c_tag_17 = Course_Tags("t07", "c11")
c_tag_18 = Course_Tags("t04", "c4")
c_tag_19 = Course_Tags("t03", "c5")
c_tag_20 = Course_Tags("t08", "c9")
c_tag_21 = Course_Tags("t02", "c8")
c_tag_22 = Course_Tags("t03", "c12")

In [26]:
pt_01 = Payment_Type("pt01", "credit card")
pt_02 = Payment_Type("pt02", "debit card")
pt_03 = Payment_Type("pt03", "paypal")

In [27]:
pay_th_01 = Paying_Through(0o001, 0o001, "pt01", None, 6011642810457047, 244, datetime(2025, 5, 3), 'Doyle Sullivan')
pay_th_02 = Paying_Through(0o002, 0o001, "pt02", None, 30233883586969, 223, datetime(2023, 3, 9), 'Doyle Sullivan')
pay_th_03 = Paying_Through(0o003, 0o002, "pt01", None, 348533891182272, 575, datetime(2022, 12, 29), 'Moses Richards')
pay_th_04 = Paying_Through(0o004, 0o002, "pt02", None, 3559582633399635, 958, datetime(2028, 11, 12), 'Moses Richards')
pay_th_05 = Paying_Through(0o005, 0o002, "pt03", "moshrich767", None, None, None, None)
pay_th_06 = Paying_Through(0o006, 0o003, "pt01", None, 377626696122784, 263, datetime(2024, 4, 17), 'Johnny Cox')
pay_th_07 = Paying_Through(0o007, 0o003, "pt03", "coxxyjohnny3$", None, None, None, None)
pay_th_08 = Paying_Through(8, 0o004, "pt03", "millyforry152", None, None, None, None)
pay_th_09 = Paying_Through(9, 0o005, "pt02", None, 6011216624376816, 113, datetime(2025, 10, 10), 'Kyle Torres')
pay_th_10 = Paying_Through(10, 0o006, "pt01", None, 5247129048927080, 763, datetime(2020, 12, 12), 'Dana Morrison')

In [28]:
session.add(st_1)
session.add(st_2)
session.add(st_3)
session.add(st_4)
session.add(st_5)
session.add(st_6)

session.commit()

In [29]:
session.add(inst_1)
session.add(inst_2)
session.add(inst_3)
session.add(inst_4)
session.add(inst_5)
session.add(inst_6)
session.add(inst_7)

session.commit()

In [30]:
session.add(course_1)
session.add(course_2)
session.add(course_3)
session.add(course_4)
session.add(course_5)
session.add(course_6)
session.add(course_7)
session.add(course_8)
session.add(course_9)
session.add(course_10)
session.add(course_11)
session.add(course_12)
session.add(course_13)
session.add(course_14)
session.add(course_15)

session.commit()

In [31]:
session.add(enrol_1)
session.add(enrol_2)
session.add(enrol_3)
session.add(enrol_4)
session.add(enrol_5)
session.add(enrol_6)
session.add(enrol_7)
session.add(enrol_8)
session.add(enrol_9)
session.add(enrol_10)
session.add(enrol_11)
session.add(enrol_12)
session.add(enrol_13)
session.add(enrol_14)
session.add(enrol_15)
session.add(enrol_16)
session.add(enrol_17)
session.add(enrol_18)
session.add(enrol_19)
session.add(enrol_20)

session.commit()

In [32]:
session.add(rev_1)
session.add(rev_2)
session.add(rev_3)
session.add(rev_4)
session.add(rev_5)
session.add(rev_6)
session.add(rev_7)
session.add(rev_8)
session.add(rev_9)
session.add(rev_10)
session.add(rev_11)
session.add(rev_12)
session.add(rev_13)
session.add(rev_14)
session.add(rev_15)

session.commit()

In [33]:
session.add(res_1)
session.add(res_2)
session.add(res_3)
session.add(res_4)
session.add(res_5)
session.add(res_6)
session.add(res_7)

session.commit()

In [34]:
session.add(course_res_01)
session.add(course_res_02)
session.add(course_res_03)
session.add(course_res_04)
session.add(course_res_05)
session.add(course_res_06)
session.add(course_res_07)
session.add(course_res_08)
session.add(course_res_09)
session.add(course_res_10)
session.add(course_res_11)
session.add(course_res_12)
session.add(course_res_13)
session.add(course_res_14)
session.add(course_res_15)
session.add(course_res_16)
session.add(course_res_17)
session.add(course_res_18)
session.add(course_res_19)
session.add(course_res_20)
session.add(course_res_21)
session.add(course_res_22)
session.add(course_res_23)
session.add(course_res_24)
session.add(course_res_25)
session.add(course_res_26)
session.add(course_res_27)
session.add(course_res_28)
session.add(course_res_29)
session.add(course_res_30)

session.commit()

In [35]:
session.add(tag_1)
session.add(tag_2)
session.add(tag_3)
session.add(tag_4)
session.add(tag_5)
session.add(tag_6)
session.add(tag_7)
session.add(tag_8)

session.commit()

In [36]:
session.add(c_tag_01)
session.add(c_tag_02)
session.add(c_tag_03)
session.add(c_tag_04)
session.add(c_tag_05)
session.add(c_tag_06)
session.add(c_tag_07)
session.add(c_tag_08)
session.add(c_tag_09)
session.add(c_tag_10)
session.add(c_tag_11)
session.add(c_tag_12)
session.add(c_tag_13)
session.add(c_tag_14)
session.add(c_tag_15)
session.add(c_tag_16)
session.add(c_tag_17)
session.add(c_tag_18)
session.add(c_tag_19)
session.add(c_tag_20)
session.add(c_tag_21)
session.add(c_tag_22)

session.commit()

In [37]:
session.add(pt_01)
session.add(pt_02)
session.add(pt_03)

session.commit()

In [38]:
session.add(pay_th_01)
session.add(pay_th_02)
session.add(pay_th_03)
session.add(pay_th_04)
session.add(pay_th_05)
session.add(pay_th_06)
session.add(pay_th_07)
session.add(pay_th_08)
session.add(pay_th_09)
session.add(pay_th_10)

session.commit()

In [39]:
                        #######################################################
                        ##       Displaying Tables in Pandas Dataframe       ##
                        #######################################################

In [40]:
## function to collect all data and display in a Pandas dataframe

def get_data_and_display(class_name, class_id):
    
    all_data = session.query(class_name).all()
    list_of_data = [data.conv_to_tup() for data in all_data]
    
    df = pd.DataFrame(data = list_of_data, columns = class_name.__table__.columns.keys())
    df.set_index(class_id)
    return df.style.hide_index()

In [41]:
print("                                                 STUDENTS TABLE")
get_data_and_display(Student, 'student_id')

                                                 STUDENTS TABLE

In [42]:
print("                   INSTRUCTORS TABLE")
get_data_and_display(Instructor, "instructor_id")

                   INSTRUCTORS TABLE

In [43]:
print("                                                     COURSES TABLE")
get_data_and_display(Course, "course_id")

                                                     COURSES TABLE

In [44]:
print("                       ENROLLMENTS TABLE")
get_data_and_display(Enrollment, "enrollment_id")

                       ENROLLMENTS TABLE

In [45]:
print("                                                REVIEWS TABLE")
get_data_and_display(Review, "review_id")

                                                REVIEWS TABLE

In [46]:
print("            RESOURCES TABLE")
get_data_and_display(Resource, "resource_id")

            RESOURCES TABLE

In [47]:
print("COURSE RESOURCES TABLE")
get_data_and_display(Course_Resources, "resource_id")

COURSE RESOURCES TABLE

In [48]:
print("    TAGS TABLE")
get_data_and_display(Tag, "tag_id")

    TAGS TABLE

In [49]:
print("COURSE TAGS TABLE")
get_data_and_display(Course_Tags, "tag_id")

COURSE TAGS TABLE

In [50]:
print("PAYMENT TYPES TABLE")
get_data_and_display(Payment_Type, "payment_type_id")

PAYMENT TYPES TABLE

In [51]:
print("                                        PAYMENT DETAILS TABLE")
get_data_and_display(Paying_Through, "pay_id")

                                        PAYMENT DETAILS TABLE

In [52]:
                   ############################################
                   ##              Data Queries              ##
                   ############################################

In [53]:
## Show details of students who have enrolled in at least one course, the course details and the instructor details

joined_tables = session.query(Enrollment, 
                              Student, 
                              Course, 
                              Instructor
                             ).filter(Enrollment.student_id == Student.student_id
                                     ).filter(Enrollment.course_id == Course.course_id
                                             ).filter(Course.instructor_id == Instructor.instructor_id
                                                     ).all()

data = list()
for obj in joined_tables:
    data.append(( obj.Enrollment.enrollment_id, obj.Student.first_name, obj.Student.last_name, obj.Course.title, 
                 obj.Instructor.first_name, obj.Instructor.last_name))

col = [Enrollment.enrollment_id, Student.first_name, Student.last_name, Course.title, Instructor.first_name, 
       Instructor.last_name]

df = pd.DataFrame(data=data, columns = col).astype(str)
df.set_index(Enrollment.enrollment_id)
df.style.hide_index()

In [54]:
## Calculate the average rating of each course

joined_course = session.query(Review.course_id, Course.title, func.count(Review.course_id).label("Number of Reviews"), 
                              func.avg(Review.star_rating).label("Average Star Rating"))

joined_course = joined_course.join(Course).group_by(Review.course_id)

data = list()
for obj in joined_course:
    to_append = obj[:3] + (round(obj[3], 2),)
    data.append(to_append)

col = [Review.course_id, Course.title, func.count(Review.course_id), func.avg(Review.star_rating)]

df = pd.DataFrame(data=data, columns = col).astype(str)
df.set_index(Review.course_id)
df.style.hide_index()

In [55]:
## Group Students according to the number of courses registered and order in descending order.

joined_course = session.query(Student.student_id.label('Student_id'), Student.first_name.label('first name'), 
                              Student.last_name.label('last name'), 
                              func.count(Enrollment.student_id).label("Total Enrollments"))

joined_course = joined_course.join(Student).group_by(Enrollment.student_id).order_by(desc("Total Enrollments"))

data = list()
for obj in joined_course:
    data.append(obj)

col = [Student.student_id, Student.first_name, Student.last_name, func.count(Enrollment.student_id)]

df = pd.DataFrame(data=data, columns = col).astype(str)
df.set_index(Student.student_id)
df.style.hide_index()

In [56]:
## How much has each instructor made

joined_course = session.query(Instructor.first_name.label('first name'), 
                              Instructor.last_name.label('last name'), 
                              func.sum(Enrollment.price).label("Total Amount Made"))

joined_course = joined_course.join(Course, Enrollment.course_id == Course.course_id
                                  ).join(Instructor, Course.instructor_id == Instructor.instructor_id
                                               ).group_by(Instructor.instructor_id
                                                          ).order_by(desc("Total Amount Made"))

data = list()

for obj in joined_course:
    to_append = obj[:2] + (round(obj[2], 2),)
    data.append(to_append)

col = [Instructor.first_name, Instructor.last_name, func.sum(Enrollment.price)]

df = pd.DataFrame(data=data, columns = col).astype(str)
df.set_index(Instructor.first_name)
df.style.hide_index()